################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Micro.Client/bin/Debug/netstandard2.0
/Micro.Client/obj
